<header>
  <div id="logo">
    <img src="logo.png" alt="Website logo, a server" />
  </div>

  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">Management</a>
      </li>
      <li>
        <button appButton> 
          <!--You still need to import Button component in ts file -->
          Logout
          <span ngProjectAs="icon">→</span>
           <!--ngProjectAs allows to project a content into ng-content 
           with the same select in the wrapper component -->
        </button>
      </li>
    </ul>
  </nav>
</header>
